button {
    background-color: #7cebff;
    height: 40px;
    width: 90px;
    border-radius: 20px;
    border: none;
    color: #fdf9f9;
    font-weight: bold;
    cursor: pointer;
}
input {
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    background-color: #e4e8f0;
}
.form {
    display: flex;
    gap: 4px;
}