.todo {
    background-color: #fff;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    text-align: center;
    width: 180px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    background-color: #3991ff;
    color: #fff;
}
p {
    padding-bottom: 20px;
    font-weight: bold;
}